# Introduction to SQL

## Basics

Structured Query Language (SQL) is a language designed to manage a relational database.

Relational databases use tables to store data and relations between tables to link data in multiple tables. It's a good way to store data that is meaninfully related, as you can define relations between tables.

SQL is a programming language, but a rather limited one (simply maintaining a database with CRUD operations - Create Read Update Delete). Although there are many 'flavours' of SQL (MySQL, t-SQL, pl-SQL...) it's best to start with the basics and then figure the rest out as you go.

For the rest of this tutorial, we are the assistants of an up-and-coming veternarian clinic. We need to keep track of pets and when they come for a visit.

Table 1 : visits

| pet | animal | birthday | nbr_legs | sex | owner | date | paid | heathy_visit |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Lua | dog | 2014-12-09 | 4 | female | Annick | 2020-09-13 | no | yes |
| Lua | dog | 2014-12-09 | 4 | female | Annick | 2019-09-26 | yes | no |
| Lua | dog | 2014-12-09 | 4 | female | Annick | 2018-07-12 | yes | yes |
| Louis | iguana | unknown | 3 | male | Anton  | 2021-7-07 | no | yes |
| Lua | dog | 2014-12-09 | 4 | female | Annick | 2017-11-01 | yes | yes |
| Mali | dog | 2017-10-09 | 4 | female | Jack | 2019-02-29 | yes | yes |
| Goober | cat | 2014-01-12 | 4 | female | Jack | 2019-02-29 | yes | yes |
| Jeff | cat | 2007-10-10 | 3 | male | Chadrick | 2017-11-01 | yes | no |
| Jeff | cat | 2007-10-10 | 3 | male | Chadrick | 2017-11-01 | yes | no |
| Jeff | dog | 2012-05-03 | 4 | male | Collin | 2017-11-01 | yes | yes |
| Chewie | dog | 2018-05-26 | 4 | male | Felix | 2020-11-01 | yes | yes |

Table 2 : contact

| owner | address | phone_number |
| --- | --- | --- |
| Annick | 1 Bloor | 819-562-0286 |
| Jack | 21 Crawford | 614-327-8898 |
| Anton | 60 George | NULL |
| Chadrick | 10 Front | 614-720-3654  |
| Felix | 8360 Berri | 870-792-4113 |

Columns are features, rows are data. 

## Managing a database

### CREATE TABLE

Our database is empty until we create our first table...
```
CREATE TABLE table_name
(
    column0 datatype constraint,
    column1 datatype constraint,
    ...
)
```
1. table_name : table name
2. column : name  that identifies the data in columns
3. datatype : sql allows for only certain types of data to be stored. (INT, BOOL, CHAR, TEXT, [other examples](https://www.w3schools.com/sql/sql_datatypes.asp)...)
4. constraint : define rules for the data that can be placed in the tables (often to ensure relations don't get broken)
    - UNIQUE : Elements in this column must be unique
    - NOT NULL : By default, elements in a column can be non-existent (NULL) but you can force it to exist using NOT NULL
    - DEFAULT default: sets a default to the column if not specified
    - PRIMARY KEY : UNIQUE and NOT NULL.
    - FOREIGN KEY : Defines a relation between 2 tables.

```
CREATE TABLE contact 
( 
    name TEXT,
    address TEXT,
    phone_number TEXT,
    CONSTRAINT pk_contact PRIMARY KEY (owner)
);

CREATE TABLE visits 
( 
    pet TEXT,
    animal TEXT,
    birthday TEXT,
    nbr_legs INT,
    sex TEXT,
    owner TEXT,
    address TEXT,
    date TEXT,
    paid BOOL,
    healthy BOOL,
    CONSTRAINT pk_visits PRIMARY KEY (pet, date)
);
```
Note: I use here another form for defining constraints ```CONSTRAINT name_constraint CONSTRAINTTYPE column```. It's good practice to name your constraints to give other an idea of what it's doing.

```
ALTER TABLE visits
ADD CONSTRAINT fk_ownerVisits
FOREIGN KEY (owner) REFERENCES contacts(name); 
```

### INSERT

Once tables are created, you can add data to the tables use the insert command.

Fill contact table with data from above.
```
INSERT INTO contact 
    ( name, address, phone_number ) 
VALUES
    ( Annick | 1 Bloor | 819-562-0286 ),
    ( Jack | 21 Crawford | 614-327-8898 ),
    ( Chadrick, 10 Front, 614-720-3654 ),
    ( Felix, 8360 Berri, 870-792-4113 );

INSERT INTO contact 
    ( name, address ) 
VALUES
    ( Anton, 60 George );
```


### REPLACE and UPDATE

Main difference is that REPLACE deletes the row.

Annick has moved, so change their address.
```
UPDATE INTO contact
    ( name, address )
VALUES
    ( Annick, 2 Bloor );
```

### DELETE and DROP

Getting rid of rows, columns, tables or constraints

Delete Goober from visits, delete the whole contact table (not just contents) and get rid of the column in the visits table that refer to number of legs.
```
DELETE FROM visits WHERE pet='Goober';

DROP TABLE contact;

ALTER TABLE visits
DROP COLUMN nbr_legs;
```


## Querying a database

We've seen above how to create, update and delete. You can sift through the data and read it using different operations internal to SQL. Instead of using some external program/language (python, excel, ...), try to answer your questions in SQL.

### SELECT

SELECT allows you to get rows back from tables. You can select which columns and even which rows. 
```
SELECT column1, column2, ...
FROM table_name; 
```

The wildcard * represents 'all': will allow you to get all columns and rows from a table.

Getting the whole table, up to 6 elements maximum (different flavours use either TOP or LIMIT)
```
SELECT * FROM visits LIMIT 6;
```

### Operators

Selecting all the data isn't so useful when you're trying to answer particular questions (e.g. which dogs came into the clinic between 2017-07-07 and 2019-05-12?). We already had an example of this higher up when we deleted 'Goober'.

Arithmetic (+,-,*,\%)

Comparison (=,>,<,<=,>=,<>)

Compound operators (+=,-=,*=,/=)

Logical Operators
- ALL : True if all values meet condition
- AND (bitwise &) : True if each condition met (basically an and for different statements)
- ANY : TRUE if any values meet condition
- OR : True if any condition
- EXISTS : TRUE if exists
- NOT : switches from FALSE to TRUE, vice versa.
- IN : TRUE if in a group of values
- BETWEEN : Check range of a feature. Usage: BETWEEN value1 AND value2.
- LIKE : TRUE when patterns in the data. Use % and _

To get back the rows, use with ```SELECT columns FROM table WHERE conditionals```. Note the Logical operators return 1 for TRUE, 0 for FALSE and NULL for NULL.

```
SELECT names
FROM visits
WHERE nbr_legs<4
```

You are not limited to querying one table if you have tables with relations.

Which pets have owners with a particular telephone number.
```
SELECT pet
FROM visits
WHERE owner IN ( SELECT (name) FROM contact WHERE phone_number LIKE '614%' );
```

### MIN, MAX, AVG, SUM & COUNT

You can quickly query the data to get some idea of the numerical values in your data. Different operations that are allowed are MIN, MAX, AVG, SUM & COUNT... they do exactly what you'd expect them to.

Unfortunately, the only numerical data in the dataset I've constructed is the number of legs. So we'll have to use that for this example... What is the phone number of the owners with the pets with the least amount of legs.
```
SELECT (name, phone_number) 
FROM contact
WHERE name IN ( SELECT DISTINCT owner FROM visits WHERE nbr_legs = MIN(nbr_legs) )
```

### ORDER BY & GROUP BY

A feature might have a repeated value across the data set or some order in the data (alphabetical, numerical,...). You might want to order them or group them depending on what you want to learn from the categories.

1. ORDER BY : Sorts the data along an ascending or descending order.

SELECT column1, column2, ...
FROM tablename
ORDER BY column3, column4, ... ASC|DESC;

2. GROUP BY : Groups rows with a same value in a column (or columns). Often used with a MIN, MAX, AVG, SUM or COUNT to get some group stats.

Find out how many of each type of pet has come to the clinic.
```
SELECT COUNT( DISTINCT (pet,owner)), animal 
FROM visits
GROUP BY animal
```

### JOIN

With multiple table often we want to combine rows from different tables to get all the information into one row. JOIN the tables ON related columns.

There are different types of join. In our clinic example, I don't think there's a need for LEFT and RIGHT JOIN, unless there were owners added who didn't have pets.

```
SELECT table1.column1, table1.column2, ..., table2.
FROM table1
type JOIN table2 
ON table1.columnX = table2.columnY
WHERE condition;
```

- INNER : Returns records if there is a matching value in both tables.
- LEFT : Returns all records from left table (table1) and the corresponding records (if they exist in the right table (table2)
- RIGHT : Opposite of LEFT
- FULL : Returns all records, even if there is no match
- SELF : Checking operations on itself.

<img src="joins.png" alt="example joins" style="width: 500px;"/>

Getting the address of pets whose owners have not paid (your boss asked for it and you don't question their methods...)
```
SELECT DISTINCT visits.pet, visits.owner, contact.address
FROM visits
INNER JOIN contact
ON visits.owner = contact.owner
WHERE NOT visits.paid;
```

Getting all owner names with multiple pets
```
SELECT A.owner
FROM visits A, visits B
WHERE A.pet <> B.pet AND A.owner = B.owner
```

## Designing Database

1. Try to think about your data modularly before starting
2. Use foreign keys to ensure referential integrity
3. Sanitize your input
4. Use optimal datatype (for example, use VARCHAR(number) vs TEXT)
5. Generally not good to use SELECT * on large tables, will scan everything
6. Do not blindly use auto increment or redundant indexes

## sqlite3 (Python module)

There are a variety libraries/modules that let you interface with SQL. A lot of data science and machine learning happen in Python, so we're going to use a python module called [sqlite3](https://docs.python.org/3/library/sqlite3.html). It's built on the SQLite C library, which allows management and access to disk-based databases (no need for a server).

1. Import the module:
    ```import sqlite3```
2. Create connection to database:
    ```connection = sqlite3.connect()```
3. Create a cursor instance:
    ```cursor = connection.cursor()```
4. Execute SQL commands by using the execute command of sqlite3:
    ```cursor.execute(COMMAND)```
5. Commit changes:
    ```connection.commit()```
6. Close database:
    ```connection.close()```
    
To get rows from a SELECT statement that has been executed, you have 2 choices. 

1. ```cursor.execute('SELECT ...')``` returns an iterator, so you can use it to iterate through the data.
```
for row in cursor.execute('SELECT * FROM visits'):
    print(row)
```
2. Use ```fetchone()``` or ```fetchall()``` method to get a list of rows from the previous execute statement.

Note: To pass variables in execute() is is safest to use the form
    ```
    cursor.execute("someCommand ? AND ?",(var1,var2) )
    ```
instead of string formating (e.g. '%s').

We'll go through the clinic example from above.

In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
class DBCursor():
    """
    This class saves having to write code to connect to the database and create
    a cursor every time. Instead, use

    with DBCursor(file) as cursor:
        cursor.execute()

    Once outside of the with statement it will commit and close the database
    automatically too.
    """
    def __init__(self, db_filename):
        self.db_filename = db_filename
        return None

    def __enter__(self):
        self.connection = sql.connect( self.db_filename )
        self.cursor = self.connection.cursor()
        return self.cursor

    def __exit__(self, exc_type, exc_value, traceback):
        self.connection.commit()
        self.connection.close()
        if exc_type is not None:
            traceback.print_exception(exc_type, exc_value, traceback)
        return

In [40]:
vet_db = 'isabellavet.db'

create_contact_table = """CREATE TABLE contact 
                            ( 
                                name TEXT,
                                address TEXT,
                                phone_number TEXT,
                                CONSTRAINT pk_contact PRIMARY KEY (name)
                            )"""

create_visits_table = """CREATE TABLE visits 
                            ( 
                                pet TEXT,
                                animal TEXT,
                                birthday TEXT,
                                nbr_legs INT,
                                sex TEXT,
                                owner TEXT,
                                address TEXT,
                                date TEXT,
                                paid BOOL,
                                healthy_visit BOOL,
                                CONSTRAINT pk_visits PRIMARY KEY (pet, date)
                                CONSTRAINT fk_owner FOREIGN KEY (owner) REFERENCES contact(name)
                            )"""

insert_contact = """INSERT OR IGNORE INTO contact 
                    ( name, address, phone_number ) 
                    VALUES ( ?, ?, ? )
                    """

insert_visits = """INSERT OR IGNORE INTO visits
                    ( pet , animal , birthday , nbr_legs , sex , owner , date , paid , healthy_visit )
                    VALUES ( ?, ?, ?, ?, ?, ?, ?, ?, ? )
                """


list_contact =   [ ( 'Annick' , '1 Bloor' , '819-562-0286' ),
                    ( 'Jack' , '21 Crawford' , '614-327-8898' ),
                    ( 'Chadrick', '10 Front', '614-720-3654' ),
                    ( 'Felix', '8360 Berri', '870-792-4113' ),
                    ( 'Anton', '60 George', None )
                    ]

list_visits = [ ( 'Lua' , 'dog' , '2014-12-09' , 4 , 'female' , 'Annick' , '2020-09-13' , False , True ),
                  ( 'Lua' , 'dog' , '2014-12-09' , 4 , 'female' , 'Annick' , '2019-09-26' , True , False ),
                  ( 'Lua' , 'dog' , '2014-12-09' , 4 , 'female' , 'Annick' , '2018-07-12' , True , True ),
                  ( 'Louis' , 'iguana' , None , 3 , 'male' , 'Anton' , '2021-7-07' , False , True ),
                  ( 'Lua' , 'dog' , '2014-12-09' , 4 , 'female' , 'Annick' , '2017-11-01' , True , True ),
                  ( 'Mali' , 'dog' , '2017-10-09' , 4 , 'female' , 'Jack' , '2019-02-29' , True , True ),
                  ( 'Goober' , 'cat' , '2014-01-12' , 4 , 'female' , 'Jack' , '2019-02-29' , True , True ),
                  ( 'Jeff' , 'cat' , '2007-10-10' , 3 , 'male' , 'Chadrick' , '2017-11-01' , True , False ),
                  ( 'Jeff' , 'cat' , '2007-10-10' , 3 , 'male' , 'Chadrick' , '2017-11-01' , True , False ),
                  ( 'Jeff' , 'dog' , '2012-05-03' , 4 , 'male' , 'Collin' , '2017-11-01' , True , True ),
                  ( 'Chewie' , 'dog' , '2018-05-26' , 4 , 'male' , 'Felix' , '2020-11-01' , True , True )
                ]

In [24]:
# create all tables
with DBCursor( vet_db ) as cursor:
    cursor.execute( create_contact_table )
    cursor.execute( create_visits_table )

In [41]:
# fill tables with data
with DBCursor( vet_db ) as cursor:
    cursor.executemany( insert_contact, list_contact )
    cursor.executemany( insert_visits, list_visits )

In [47]:
example_command = """
SELECT DISTINCT visits.pet, visits.owner, visits.date, contact.address
FROM visits
INNER JOIN contact
ON visits.owner = contact.name
WHERE NOT visits.paid;
"""

with DBCursor( vet_db ) as cursor:
    cursor.execute( example_command )
    rows = cursor.fetchall()
    for row in rows:
        print(f'{row[1]} did not pay for the visit of {row[0]} on {row[2]}. They live at: {row[3]}')

Anton did not pay for the visit of Louis on 2021-7-07. They live at: 60 George
Annick did not pay for the visit of Lua on 2020-09-13. They live at: 1 Bloor

In [62]:
command = """
SELECT (pet, animal) 
FROM visits
WHERE owner IN ( SELECT DISTINCT (visits.owner) FROM visits WHERE visits.nbr_legs = (SELECT MIN(visits.nbr_legs) FROM visits ) )
"""
command_try = "SELECT DISTINCT (owner) FROM visits WHERE nbr_legs = (SELECT MIN(nbr_legs) FROM visits )"

with DBCursor( vet_db ) as cursor:
    cursor.execute( command )
    print( cursor.fetchall() )

AttributeError: 'traceback' object has no attribute 'print_exception'

### Exercises
1. Try your favourite commands from above. Do they all work? (I hope so...)
2. Come up with a better architecture for the data. Does adding more tables help modularize this data?
3. Add your own pets (or imaginary ones) to visits. What if information about the visit changes (someone pays finally), how would you go about changing the entry?
4. Find if different owners live in the same address.
5. List the age of the pets in ascending order. Does it help to have different datatypes for birthday?
6. Find which owners have multiple pets and list off their full address as well as how many pets they have. What would you do if multiple owners had the same names?